@font-face {
  font-family: "Cardo-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Cardo-Italic/Cardo-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cardo-Italic/Cardo-Italic.woff") format("woff"), url("../fonts/Cardo-Italic/Cardo-Italic.ttf") format("truetype"); }