html {
	height: 100%;
	font-size: 100%;
}
body {
	font: 17px 'OpenSans - Regular', Arial, Tahoma, sans-serif;
	background: #fafafa;
}

input {
	outline: none;
}

#wrapper {
	margin: 50px 0;
}

.main-wrap {
	height: 610px;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
	-ms-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
	-o-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.clear-padding {
	padding: 0;
}

.left {
	background: #fff;
	height: 1000px;
	position: relative;
}

.right {
	background: #999;
	height: 610px;
	-webkit-box-shadow: -3px 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: -3px 0 5px rgba(0,0,0,.2);
	-ms-box-shadow: -3px 0 5px rgba(0,0,0,.2);
	-o-box-shadow: -3px 0 5px rgba(0,0,0,.2);
	box-shadow: -3px 0 5px rgba(0,0,0,.2);
}

.modal-window {
	position: absolute;
	width: 400px;
	height: 200px;
	background: #f2c600;
	top: 0;
	left: 50%;
	text-align: center;
	margin: 0 auto;
}

.modal-window img {
	margin-top: 20px;
}

.modal-window h2 {
	font: 36px/50px 'Open Sans', Arial, Tahoma, sans-serif;
	color: #fff;
	margin: 0 0 5px;
}

.modal-window p {
	margin: 0 0 10px 0;
	color: #fff;
}

.modal-window a {
	padding: 5px 30px;
	margin-top: 5px;
	background: #1976d2;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}

.modal-window a:hover {
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,.4)inset;
}

.state-panel {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
}

.state-panel p {
	padding-left: 20px;
	margin: 0;
	line-height: 60px;
}

.state-panel img {
	margin: 0 5px 5px 10px;
}

.state-panel i {
	font-style: normal;
}

.video-block {
	height: 550px;
	background: #333;
	background-image: url(../img/img_1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.navigation-panel {
	width: 100%;
	height: 60px;
	background: rgba(43,52,60,.9);
	position: absolute;
	bottom: 0;
}

.navigation-panel ul {
	text-align: center;
}

.navigation-panel ul li {
	position: relative;
	display: inline-block;
	padding: 0 10px;
}

.navigation-panel ul li:hover {
	cursor: pointer;
}

.navigation-panel #slider-vertical {
	position: absolute;
	top: -105px;
	left: 15px;
	border-radius: 10px;
	width: 10px;
	border: none;
}

#slider-vertical .ui-slider-range {
	background: #f2c600;
}

#slider-vertical .ui-slider-handle {
	height: 10px;
	border-radius: 5px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #ededed;
}

.chat-block {
	height: 550px;
	background-image: url(../img/img_3.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.send-panel {
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #ebebeb;
}

.send-panel .message-holder {
	height: 100%;
	width: 90%;
	padding: 20px;
	font-style: italic;
	background: transparent;
	border: none;
}

.send-panel .button-holder {
	position: absolute;
	width: 20px;
	height: 18px;
	right: 15px;
	top: 20px;
	border:none;
	background: transparent;
	background-image: url(../img/Без-имени-1.png);
}

.my-camera {
	height: 250px;
	width: 100%;
	background: #eee;
}

.my-camera img {
	width: 100%;
}

.top-line-panel {
	width: 100%;
	height :60px;
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
}

.top-line-panel p {
	margin: 0;
	line-height: 60px;
	font-style: italic;
	padding-left: 20px;
}

.users {
	width: 100%;
	height: 300px;
	background: url(../img/user_block.png);
	background-size: cover;
}