* {
	margin: 0;
	padding: 0;
}

ol, ul, h1, h2, h3, h4 ,h5, h6 {margin: 0;padding: 0;}

html {
	height: 100%;
	width: 100%;
}
body {
	font: 17px/20px 'MyriadPro-Regular', Arial, Tahoma, sans-serif;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #4aaad2 url(../img/first-bg.png) no-repeat center center;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

a:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -100px;
}

* html #wrapper {height: 100%;}

.head-panel {
	height: 60px;
	background-color: #43484c;
}

.head-panel ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.head-panel ul li {
	display: inline-block;
	padding: 0 15px;
	line-height: 60px;
	float: right;
}

.head-panel ul li:first-child {padding-right: 0;}

.logo {
	margin: 25px 0;
}

.logo a {
	display: block;
	height: 52px;
	width: 38px;
	padding: 5px 45px;
	font: 700 18px/20px "MyriadPro-Bold", sans-serif;
	text-transform: uppercase;
	background: url(../img/first-logo.png) no-repeat;
}

.head-panel-menu {
	margin-bottom: 20px;
}

.head-menu {
	display: table;
	width: 100%;
	border-collapse: collapse;
	list-style-type: none;
}

.head-menu li {
	display: table-cell;
	background-color: rgba(5, 110, 155, .4);
	padding: 15px 30px;
	text-align: center;
}

.head-menu a {text-decoration: none;}

.active {background-color: rgba(33, 84, 105, .7);}

.head-menu li:hover,
.head-menu li.active {
	background-color: rgba(33, 84, 105, .7);
}

#touch-menu {
	display: none;
	padding: 10px 15px;
	background-color: rgba(5, 110, 155, .4);
	color: #fff;
	text-decoration: none;
}

#touch-menu i {font-size: 25px;}

@media screen and (max-width: 1199px) {
	.head-menu li {padding: 15px;}
}

@media screen and (max-width: 991px) {
	.head-menu li {
		padding: 10px;
		font-size: 14px;
	}
}

@media screen and (max-width: 767px) {
	.head-menu li a {
		display: inline-block;
		vertical-align: middle;
	}

	.head-menu {display: none;}
	.head-menu li {display: block;}
	.head-menu li a {
		font-size: 17px;
	}
	#touch-menu {display: inline-block;}
}

.attention {
	margin-bottom: 20px;
}

.top-content {
	padding: 25px 20px;
	background-color: rgba(2, 110, 155, .4);
}

.top-content h2 {
	margin: 0;
	margin-bottom: 15px;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.top-content p {
	margin: 0;
	font-size: 20px;
	line-height: 25px;
}

.check-city {margin-bottom: 25px;}

.check-city a:hover {text-decoration: none;}

.panel-city {
	padding: 15px 0;
	margin-bottom: 25px;
	background-color: rgba(2, 110, 155, .4);
}

.panel-city h2 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font: 700 20px/20px "MyriadPro Bold", sans-serif;
}

.city {
	text-align: center;
}

.city a {
	display: inline-block;
	padding: 15px;
	text-transform: uppercase;
	font: 700 20px/20px "MyriadPro Bold", sans-serif;
	background-color: rgba(33, 84, 105, .7);
}

.city a:hover {background-color: rgba(18, 60, 77, .7)}

.products {margin-bottom: 20px;}

.product-item {
	width: 340px;
	float: left;
	margin-right: 40px;
	padding: 15px 20px 10px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.product-item:last-child {margin-right: 0;}

.product-item h2 {
	margin: 0;
	margin-bottom: 12px;
	font: 700 20px/25px "MyriadPro Bold", sans-serif;
}

.product-item p {
	font: 100 36px/30px "MyriadPro Regular", sans-serif;
	text-transform: uppercase;
}

.product-item span {
	display: block;
	margin-bottom: 10px;
	font: 15px/15px "MyriadPro Regular", sans-serif;
	text-align: center;
}

.product-item a {
	display: inline-block;
	padding: 15px 33px;
	font-weight: bold;
	background-color: #215469;
}

@media screen and (max-width: 767px) {
	.products {text-align: center;
	}
	.product-item {
		display: block;
		width: 100%;
		float: none;
		margin-bottom: 40px;
	}

	.attention {text-align: center;}

	.product-item a {
		width: 70%;
	}

}

@media screen and (max-width: 479px) {
	.product-item h2 {
		font-size: 16px;
	}

	.top-content p {
		font-size: 16px;
	}

	.product-item a {
		width: 100%;
	}
}

.page-buffer {height: 100px;}

#footer {
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #43484c;
}

.footer-text {
	font-size: 32px;
	line-height: 100px;
}

@media screen and (max-width: 767px) {
		.footer-text {font-size: 20px;}
}

.sign-in, .check-order {
	padding: 40px;
	margin-bottom: 50px;
	min-height: 350px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.sign-in h2,
.check-order h2 {
	margin-bottom: 35px;
}

.sign-in h2:last-child {
	margin-bottom: 0;
}

.sign-in form,
.check-order form {
	margin-bottom: 30px;
}

.sign-in form input,
.check-order form input {
	min-width: 330px;
	padding: 10px;
	border: none;
	background-color: rgba(33, 84, 105, .7);
}

.sign-in form label,
.check-order form label {
	display: block;
	margin: 20px 0;
	font: 100 17px/17px "MyriadPro Regular", sans-serif;
}

@media screen and (max-width: 479px) {
	.sign-in form input,
	.check-order form input {min-width: 100%;}
}

.contacts {
	padding: 35px 0;
	margin-bottom: 50px;
	min-height: 300px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.profile {
	padding: 35px;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.profile h2 {margin-bottom: 35px;}

.profile p {
	line-height: 17px;
	margin-bottom: 25px;
}

.profile a {
	display: block;
	width: 345px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 15px;
	text-transform: uppercase;
	background-color: rgba(33, 84, 105, .7);
}

.profile a:last-child {margin-bottom: 0;}

@media screen and (max-width: 479px) {
	.profile a {
		width: 100%;
		padding: 10px;
		font-size: 14px;
	}
}

.comments {
	text-align: center;
	padding: 35px 35px 40px;
	margin-bottom: 50px;
	background-color: rgba(2, 110, 155, .4);
}

.comments h2 {
	margin: 20px 0 40px;
}

.comments a {
	display: inline-block;
	padding: 15px 20px;
	margin-bottom: 30px;
	background-color: rgba(33, 84, 105, .7);
}

.comment-item {
	padding: 15px 10px;
	text-align: left;
	background-color: rgba(33, 84, 105, .7);
}

.comment-item hr {
	height: 1px;
	background-color: #fff;
	margin: 10px 0;
}

.comment-text {
	font-style: italic;
}

.contracts {
	padding: 35px 0;
	margin-bottom: 50px;
	min-height: 500px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.check-order p {margin-bottom: 20px;}

.check-order a {
	display: inline-block;
	padding: 15px 25px;
	margin-bottom: 0;
	text-transform: uppercase;
	background-color: rgba(33, 84, 105, .7);
}

@media screen and (max-width: 479px) {
	.check-order a {
		width: 100%;
		padding: 10px;
	}
}

.check-payment {
	padding: 40px 20px;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(2, 110, 155, .4);
}

.check-payment h2 {
	margin-bottom: 30px;
}

.check-payment p a {
	color: #ff0000;
}

@media screen and (max-width: 479px) {
	.check-payment {padding: 30px 10px;}
}